@model List<Product>

<h3>Каталог</h3>

<div class="row">
	@foreach (var product in Model)
	{
		<div class="col-md-3">
			<div class="card shadow">
					<img src="@product.PathImage"/>
					@product.Name
					@product.Cost
					<a asp-controller="product" asp-action="index" asp-route-id="@product.Id" role="button" class="btn btn-outline-primary">Подробнее</a>
					<a asp-controller="Cart" asp-action="Add" asp-route-productId="@product.Id" role="button" class="btn btn-outline-primary">В корзину</a>
			</div>
		</div>
	}
</div>